### config yaml for Spatial transcriptomics
project_name: SaHe_5k_slide1_run5_resegmentation_redo
output_dir: "/home/donaldo/bioadhoc/spatial/SaHe/slide_5k_SaHe1/re_segmentation/results/clustering/tc_subclustering"
# path to the Cell Ranger ouput from IGM
input_expression: "/home/donaldo/bioadhoc/spatial/SaHe/slide_5k_SaHe1/re_segmentation/raw/outs/"
metadata:
  - "/home/donaldo/bioadhoc/spatial/SaHe/slide_5k_SaHe1/re_segmentation/results/clustering/SaHe_5k_slide1_run5_resegmentation_redo/.object_metadata_mean0.01_pct50_pc30.rds"
metadata_donor:
  # - "/home/donaldo/bioadhoc/spatial/SaHe/slide_5k_SaHe1/re_segmentation/info/metadata/SaHe_5k_slide1_md_donor_2.csv~orig.TMA_core"
filtering:
  subset:
    expr: "nCount_Xenium > 3"
    expre: "Xenium_snn_res.0.4 == '1'"
  nSamples_expressed: 0.001 # % of cells in which that gene is present
regress_var: [nCount_Xenium]
norm: LogNormalize
variable_features:
  file: "no_file"
  method: vst
  nfeatures: 2000
  percent: [40, 50, 70, 100]  # iterated
  mean.cutoff: [0.01, 8]
  dispersion.cutoff: [1, Inf]
resolution: [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9] # iterated during markers
dim_reduction:
  base: {type: pca, n_comp: 40, chosen_comp: [10,15,20,30,40]}
  umap: {n.neighbors: 10, min.dist: 0.1}
markers:
  select: snn_res. # pattern in the metadata's columns. Redundant
  test: MAST
  avg_logFC: 0.25
  p_val_adj: 0.05
  to_plot: ['CD8A', 'NKG7', 'CCL4', 'GZMB', 'KLRK1', 'CD8B', 'AOAH', 'KLRD1', 'GZMA', 'PRF1', 'ZNF683', 'CTSW', 'KLRC1', 'ITGA1', 'HOPX', 'GZMH', 'ITGAE', 'KLRC2', 'LINC02446', 'ABI3', 'CST7', 'CXCR6', 'ZEB2', 'ITM2C', 'SYTL2', 'CLIC3', 'GABARAPL1', 'DAPK2', 'AUTS2', 'HLA-DPB1', 'MATK', 'LAG3', 'CCL4L2', 'LINC01871', 'SPRY1', 'KLRC4', 'AC022126.1', 'XCL1', 'CEBPD', 'XCL2', 'HLA-DRB1', 'IER5L', 'MVB12B', 'CCL3', 'GYG1', 'TNIP3', 'CD244', 'AC022075.1', 'PPP2R2B', 'METRNL', 'TRGC2', 'FASLG', 'FABP5', 'GFI1', 'GALNT2', 'TRGV2', 'SRGAP3', 'SLAMF7', 'PTMS', 'PLAAT3', 'FCRL6', 'IL18RAP', 'NBL1', 'MXRA7', 'TBX21', 'SAP30', 'OASL', 'ADAMTS17', 'CRTAM', 'VAV3', 'DOCK5', 'ADRB2', 'AC243829.4', 'HIP1', 'CD9', 'GFOD1', 'ADGRG1', 'FXYD2', 'AC015849.1', 'KLRC3', 'TRGV7', 'DBN1', 'ATP10D', 'TMIGD2', 'PDE4A', 'CD101', 'CD160', 'PIK3AP1', 'YBX3', 'ADGRG5', 'AL136018.1', 'TPRG1', 'CCR1', 'STYK1', 'PTGDR', 'MSC', 'SCUBE1', 'NMUR1', 'GOLIM4', 'RGS9', 'AC068446.2', 'CCL3L1', 'GFPT2', 'AC243829.1', 'SLC27A3', 'LTB', 'INPP4B', 'RIPOR2', 'GPR183', 'CD5', 'FLT3LG', 'KLF2', 'TCF7', 'AQP3', 'CD4', 'ADD3', 'CD28', 'PHTF2', 'MCUB', 'SELL', 'P2RY8', 'SERINC5', 'CTSB', 'CD40LG', 'RASA3', 'LEF1', 'CCR7', 'TESPA1', 'PHACTR2', 'TRAT1', 'TNFRSF25', 'ICAM2', 'TNFRSF4', 'GNAQ', 'MAL', 'SOCS3', 'ITGB2-AS1', 'TNFSF8', 'MAF', 'SESN3', 'TSHZ2', 'KLF3', 'S1PR1', 'PASK', 'FAAH2', 'C1orf162', 'TNFRSF18', 'PLCL1', 'IL6R', 'SH3YL1', 'PLAC8', 'AC119396.1', 'TRABD2A', 'FBLN7', 'CMTM8', 'FHIT', 'CCR4', 'AC139720.1', 'SPINT2', 'BTBD11', 'PTPN13', 'TIAM1', 'CRIP2', 'APP', 'IL2RA', 'CYSLTR1']
exec: /mnt/hpc-apps/R/4.3.3/bin/Rscript
pipeline: /home/fcastaneda/bin/spatial_clustering/
R_module: R/4.3.3 #if defined, it will use this module version to run the analysis, if not it will use your default
cluster_config: /home/fcastaneda/bin/spatial_clustering/cluster_slurm.json #HPC resources definition
conda_env: clustering_env #Compatible with Ciro's clustering env
