### config yaml for Spatial transcriptomics
project_name: SaHe_5k_slides_merge_run1_resegmentation_DS_redo
output_dir: "/home/donaldo/bioadhoc/spatial/SaHe/slide_5k_SaHe2/re_segmentation/results/clustering/merge_clustering/"
obj_class: "merge_object"
# path to the Cell Ranger ouput from IGM
input_expression: "/mnt/BioAdHoc/Groups/vd-vijay/donaldo/spatial/SaHe/slide_5k_SaHe2/re_segmentation/info/seurat_objects/merged_slide1_slide2_from_final_rds_objects_12_1_2025_w_assay_merged.rds"
metadata:
  - "/mnt/BioAdHoc/Groups/vd-vijay/donaldo/spatial/SaHe/slide_5k_SaHe2/re_segmentation/info/seurat_objects/metadata_merged_slide1_slide2_from_final_rds_objects_12_1_2025_w_assay_merged.rds"
# metadata_donor:
  # - "/home/donaldo/bioadhoc/spatial/SaHe/slide_5k_SaHe2/re_segmentation/info/metadata/metadata_donor.csv~orig.TMA_core"
filtering:
  subset:
    expr: "nCount_Xenium > 3"
    expre: "!orig.donor == 'S2_NIHMA_302'"
    # expree: "!orig.orig.donor == 'NIHW_613'"
  nSamples_expressed: 0.001 # % of cells in which that gene is present
regress_var: [nCount_Xenium]
norm: LogNormalize
variable_features:
  file: "no_file"
  method: vst
  nfeatures: 2000
  percent: [40, 50, 55, 60, 65, 70]  # iterated
  mean.cutoff: [0.01, 8]
  dispersion.cutoff: [1, Inf]
resolution: [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9] # iterated during markers
dim_reduction:
  base: {type: pca, n_comp: 40, chosen_comp: [30,40]}
  umap: {n.neighbors: 10, min.dist: 0.1}
markers:
  select: snn_res. # pattern in the metadata's columns. Redundant
  test: MAST
  avg_logFC: 0.25
  p_val_adj: 0.05
  to_plot: ['SERPINA3', 'PDGFRA', 'ADAMTS1', 'TCF21', 'COMP', 'LAMC1', 'MYLK', 'SCN7A', 'TGFBR3', 'TNS2', 'MAOA', 'OLFML3', 'ZBTB16', 'SAMHD1', 'USP53', 'CCN2', 'PER1', 'PIK3R1', 'ZFAND5', 'MMP14', 'WNT5A', 'CD14', 'CD8A', 'NKG7', 'CCL4', 'GZMB', 'KLRK1', 'CD8B', 'AOAH', 'KLRD1', 'GZMA', 'PRF1', 'ZNF683', 'EGFR', 'KRT19', 'KRT5', 'CD3E', 'CD4', 'LAG3', 'CTLA4', 'FOXP3', 'CD19', 'CD79A', 'MARCO', 'TP63', 'PDCD1', 'EPCAM']
exec: /mnt/hpc-apps/R/4.3.3/bin/Rscript
pipeline: /home/donaldo/bin/spatial_clustering/
R_module: R/4.3.3 #if defined, it will use this module version to run the analysis, if not it will use your default
cluster_config: /home/donaldo/bin/spatial_clustering/cluster_slurm.json #HPC resources definition
conda_env: clustering_env #Compatible with Ciro's clustering env
