### config yaml for Spatial transcriptomics
project_name: SaHe_5k_slide1_run5_resegmentation_redo
output_dir: "/home/donaldo/bioadhoc/spatial/SaHe/slide_5k_SaHe1/re_segmentation/results/clustering/"
# path to the Cell Ranger ouput from IGM
input_expression: "/home/donaldo/bioadhoc/spatial/SaHe/slide_5k_SaHe1/re_segmentation/raw/outs/"
metadata:
  - "/home/donaldo/bioadhoc/spatial/SaHe/slide_5k_SaHe1/re_segmentation/results/clustering/SaHe_5k_slide1_run4_resegmentation_redo/.object_metadata_mean0.01_pct50_pc30.rds"
metadata_donor:
  # - "/home/donaldo/bioadhoc/spatial/SaHe/slide_5k_SaHe1/re_segmentation/info/metadata/SaHe_5k_slide1_md_donor_2.csv~orig.TMA_core"
filtering:
  subset:
    expr: "nCount_Xenium > 3"
    expre: "!Xenium_snn_res.0.6 %in% c('9', '15')"
  nSamples_expressed: 0.001 # % of cells in which that gene is present
regress_var: [nCount_Xenium]
norm: LogNormalize
variable_features:
  file: "no_file"
  method: vst
  nfeatures: 2000
  percent: [30, 35, 40, 50]  # iterated
  mean.cutoff: [0.01, 8]
  dispersion.cutoff: [1, Inf]
resolution: [0.1, 0.2, 0.4, 0.6, 0.8] # iterated during markers
dim_reduction:
  base: {type: pca, n_comp: 40, chosen_comp: [15,20,30]}
  umap: {n.neighbors: 10, min.dist: 0.1}
markers:
  select: snn_res. # pattern in the metadata's columns. Redundant
  test: MAST
  avg_logFC: 0.25
  p_val_adj: 0.05
  to_plot: ['EGFR', 'KRT19', 'KRT5', 'CD3E', 'CD8A', 'CD8B', 'CD4', 'LAG3', 'CTLA4', 'FOXP3', 'CD19', 'CD79A', 'MARCO', 'CD14', 'TP63', 'PDCD1', 'EPCAM', 'GZMB', 'CCN2']
exec: /mnt/hpc-apps/R/4.3.3/bin/Rscript
pipeline: /home/fcastaneda/bin/spatial_clustering/
R_module: R/4.3.3 #if defined, it will use this module version to run the analysis, if not it will use your default
cluster_config: /home/fcastaneda/bin/spatial_clustering/cluster_slurm.json #HPC resources definition
conda_env: clustering_env #Compatible with Ciro's clustering env
