---
project_name: biop_Harmony_CD45P_Tcell_wo_TCRgenes_clean2_wo_DP_Themis_noNK
# path to the Cell Ranger ouput; it can even be a CSV file like the one in a Cell Ranger aggregation
input_expression: "/home/fcastaneda/fcastaneda-temp/rnaseq-sc-standar/biopBal_Sara_2024/biop/raw/cellranger/aggr/CD45P"
# A table of the metadata per library, or the whole metadata ready.
# It can be multiple files: [metadata_lib.csv, demultiplexed_hashtags.rdata]
metadata:
  - "/home/fcastaneda/fcastaneda-temp/rnaseq-sc-standar/biopBal_Sara_2024/biop/results/clustering/biop_Harmony_CD45P_Tcell_wo_TCRgenes_clean2_wo_DP_Themis/.object_meta.data_seurat_mean0.01_pct20_pc15.rds"
# if you don't add "/" at the end, it will append 'project_name'
output_dir: "/home/fcastaneda/fcastaneda-temp/rnaseq-sc-standar/biopBal_Sara_2024//biop/results/clustering"
filtering:
  subset:
    expre: "doublet_scores <= 0.3"
    expree: "orig.HT_ID.global %in% c('Singlet')"
    expreee: "! tcell_subset %in% 'DP'"
    expreeee: "! RNA_snn_res.0.4 %in% c(7)"
  nSamples_expressed: 0.001 # % of cells in which that gene is present
regress_var: [nCount_RNA, percent.mt]
norm: LogNormalize
variable_features:
  #file: ./data/prot_coding_genes.csv
  method: vst
  nfeatures: 2000
  percent: [10, 15, 20, 25]  # iterated
  mean.cutoff: [0.01, 8]
  dispersion.cutoff: [1, Inf]
  exclude: "^TRA|^TRB|^TRG"
resolution: [0.1, 0.2, 0.4, 0.6, 0.8] # iterated during markers
dim_reduction:
  base: {type: harmony, batch: "orig.run", n_comp: 40, chosen_comp: [15,20,25]} # iterated: chosen
  tsne: {perplexity: 'auto', reduction.use: "pca"}
  umap: {n.neighbors: 30, min.dist: 0.1} ## Ciro used 10 in n.neighbors..
markers:
  select: snn_res. # pattern in the metadata's columns
  test: MAST
  avg_logFC: 0.25
  p_val_adj: 0.05
tool: seurat
exec: /mnt/hpc-apps/R/4.1.3/bin/Rscript
script: /home/fcastaneda/bin/clustering/R/seurat.R
pipeline: /home/fcastaneda/bin/clustering/
cluster_config: /home/fcastaneda/bin/clustering/cluster_slurm.json
environment: clustering_new
...
